.App {
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding:0;
  opacity: 90%;
}
.Filter{
  position: absolute;
  top:10vh;
  left:3%;
  z-index:5;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  width:35%;
  height:15vh ;
  color: white;
  opacity: 90%;
}
.App-link {
  color: #09d3ac;
}
button, option, input {
  font-family: "Gill Sans", sans-serif;
  font-size:12px
}
.Map {
  min-height: 80vh;
}
